<div class="container form-game">
    <mat-card>
        <mat-card-header>
          <mat-card-title>{{ isNewGame ? 'Crear' : 'Editar' }}</mat-card-title>
          <mat-card-subtitle>Formulario para ingreso de datos</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="form-game__card-p24">
            <form [formGroup]="gameForm">
                <div class="row">
                    <div class="col-sm-3 w-100">
                        <mat-form-field appearance="outline" class=" w-100">
                            <mat-label>Año</mat-label>
                            <input  type="number" matInput placeholder="Ingrese año" maxlength="4"  formControlName="season">
                            <mat-icon matSuffix>sports_basketball</mat-icon>
                            <mat-hint>Ejem: 2018</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-3 w-100">
                        <mat-form-field appearance="outline" class=" w-100">
                            <mat-label>Estado</mat-label>
                            <input  type="text" matInput placeholder="Ingrese estado" maxlength="40"  formControlName="status">
                            <mat-icon matSuffix>keyboard</mat-icon>
                            <mat-hint></mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="primary" class="mr-4" (click)="onClickSave()">Guardar</button>
          <button mat-button (click)="onClickCancel()">Cancelar</button>
        </mat-card-actions>
      </mat-card>

</div>