@import "bootstrap/dist/css/bootstrap.css";

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}


.mr-4 {
    margin-right: 8px;
}

.bg-white {
    background: white;
}